@page "/login"
@using MCraftBlazor.Helpers.Services.Interfaces
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h3>Вход</h3>

        <EditForm Model="loginModel" OnValidSubmit="OnValidAsync">
            <div class="mb-4">
                <label class="form-label">Логин:</label>
                <input class="form-control" type="text" placeholder="Введите логин" @bind-value="loginModel.Login"/>
            </div>

            <div class="mb-4">
                <label class="form-label">Пароль:</label>
                <input class="form-control mb-1" type="password" placeholder="Введите пароль" @bind-value="loginModel.Password"/>
            </div>

            <button class="btn btn-dark" type="submit">Войти</button>
        </EditForm>
    </div>

    <div class="col-3"></div>

</div>
